@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    'navbar navbar'
    'main aside'
    'footer footer';
  grid-template-rows: 48px 914px 1fr;
  grid-template-columns: 1fr 1fr;

  color: var(--text);
  font-weight: 700;
  background: var(--background);
  height: 100vh;
  width: 100%;
}
nav {
  grid-area: navbar;
  width: 1320px;
  position: absolute;
  margin: 40px 60px 0;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 90px;
}
nav ul li a{
  font-size: 24px;
  color: var(--text);
}
form input {
  width: 220px;
  height: 45px;
  background: url(assets/icon-search.svg) no-repeat scroll 7px 7px;
  padding-left:30px;
  background-color: white;
  border: none;
}

main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: grid;
  width: 357px;
  height: 533px;
}
.box h1 {
  font-size: 60px;
  line-height: 70px;
}
.box p {
  font-size: 16px;
  color: var(--text-description);
  margin: 21px 0;
  line-height: 19px;
}
.box h3 {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 47px;
}

aside {
  grid-area: aside;
  background-color: var(--main-background);
  width: 900px;
  height: 914px;
  text-align: center;
  padding-top: 174px;
}
aside ul {
  display: flex;
  justify-content: center;
  gap: 37px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}
footer ul{
  display: flex;
  align-items: center;
}
footer ul li a{
  color: var(--text);
  font-size: 18px;
  padding: 0 40px;
}

.btn {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.btn1 {
  width: 274px;
  height: 90px;
  background-color: var(--button);
}
.btn2 {
  width: 437px;
  height: 166px;
  background-color: var(--footer);
}

@media screen and (max-width: 700px) {
  .footer  {
    max-width: 50%;
    display: grid;
    justify-content: center;
  }
  .footer ul{
    display: grid;
  }
  .footer ul li{
    display: grid;
    padding: 50px;
  }
  .footer button {
    width: 200px;
    background-color: orange;
  }
 
}
