@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1440px;
  min-width:500px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  font-weight: 700;
  color: var(--text);
}

.navbar {
  display: flex;
  width: 1320px;
  align-items: center;
  position: absolute;
  margin: 40px 60px 0;
  justify-content: space-between;
  border: 5px solid green;

  
} 
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 90px;
  align-items: center;
}
nav ul li a{
  font-size: 24px;
  color: var(--text);
}
form input {
  width: 220px;
  height: 45px;
  background: url(assets/icon-search.svg) no-repeat scroll 7px 7px;
  padding-left:30px;
  background-color: white;
  border: none;
}
main {
  display: flex;
  background: var(--background);
  align-items: center;
}
.card {
  width: 540px;
  height: 914px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}
.box {
  width: 357px;
  height: 533px;
  display: grid;
}
.box h1 {
  font-size: 60px;
}
.box p {
  font-size: 16px;
  color: var(--text-description);
  margin: 21px 0;
}
.box h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.aside {
  width: 900px;
  height: 914px;
  background: var(--main-background);
  text-align: center;
  border: 5px solid blue;
}
.aside ul {
  display: flex;
  justify-content: center;
  gap: 37px;
}
.imgStar{
  margin-top: 174px;
}
ul li .border {
  border-bottom: 5px solid red;
}
.footer {
  display: flex;
  justify-content: baseline;
  width: 1430px;
  border: 5px solid yellow;
}
.footer ul {
  display: flex;
  align-items: center;
}
.footer ul li a {
  padding: 0 40px;
  font-size: 18px;
  color: var(--text);
}
.arrow {
  margin-left: 14px;
}
.btn {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.btn1 {
  width: 274px;
  height: 90px;
  font-size: 24px;
  background-color: var(--button);
}
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 437px;
  height: 166px;
  background-color: black;
}
teste